@oce-apps:registry=https://iqvia.gitlab-dedicated.com/api/v4/projects/27688/packages/npm/
//iqvia.gitlab-dedicated.com/api/v4/projects/27688/packages/npm/:_authToken=${GITLAB_NPM_REGISTRY_AUTH_TOKEN}
